name: CI - Build, Push, Update GitOps

on:
  push:
    branches: [ "main" ]

jobs:
  build-push-and-update-manifest:
    runs-on: ubuntu-latest

    # IMPORTANT: permet au bot de push le changement du deployment.yaml
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image (tag = commit SHA)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/heh-flask:${{ github.sha }}

      - name: Update Kubernetes manifest with new tag
        run: |
          sed -i "s|image: .*heh-flask:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/heh-flask:${{ github.sha }}|g" k8s/deployment.yml

      - name: Commit and push manifest update
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: bump image tag to ${{ github.sha }}" || exit 0
          git push
